In [2]:
#Imprort des librairies nécessaires
import pandas as pd
import numpy as np

In [3]:
# Fichier 2019-parc-vehicules-routiers-5pr3.xls :
# Parc par département, région, source d'énergie (2011 à 2019)
# Comprends deux groupes de sheets au format légèrement distincts : avant et apres la fusion des regions en 2016


col_names_temp_av_2017="Départements","Gazole","Essence","Essence-GPL","Electricité","Autres et non  déterminées","Total"

col_names_temp_ap_2017=["Régions","Départements","Gazole","Essence","Essence-GPL","Electricité","Autres et non  déterminées", "Total"]

col_names=["Année","Régions","Départements","Gazole","Essence","Essence-GPL","Electricité","Autres et non  déterminées", "Total"]

#Dico des regions et des departements :
regions = {"Auvergne-Rhône-Alpes":["Ain","Allier","Ardèche","Cantal","Drôme","Haute-Loire","Haute-Savoie","Isère","Loire","Puy-de-Dôme","Rhône","Savoie"],
           "Bourgogne-Franche-Comté":["Côte-d'Or","Doubs","Haute-Saône","Jura","Nièvre","Saône-et-Loire","Territoire de Belfort","Yonne"],
           "Bretagne":["Côtes-d'Armor","Finistère","Ille-et-Vilaine","Morbihan"],
           "Centre-Val de Loire":["Cher","Eure-et-Loir","Indre","Indre-et-Loire","Loiret","Loir-et-Cher"],
           "Corse":["Corse-du-Sud","Haute-Corse"],
           "Grand Est":["Ardennes","Aube","Bas-Rhin","Haute-Marne","Haut-Rhin","Marne","Meurthe-et-Moselle","Meuse","Moselle","Vosges"],
           "Hauts-de-France":["Aisne","Nord","Oise","Pas-de-Calais","Somme"],
           "Île-de-France":["Essonne","Hauts-de-Seine","Paris","Seine-et-Marne","Seine-Saint-Denis","Val-de-Marne","Val-d'Oise","Yvelines"],
           "Normandie":["Calvados","Eure","Manche","Orne","Seine-Maritime"], 
           "Nouvelle-Aquitaine":["Charente","Charente-Maritime","Corrèze","Creuse","Deux-Sèvres","Dordogne","Gironde","Haute-Vienne","Landes","Lot-et-Garonne","Pyrénées-Atlantiques","Vienne"],
           "Occitanie":["Ariège","Aude","Aveyron","Gard","Gers","Haute-Garonne","Hautes-Pyrénées","Hérault","Lot","Lozère","Pyrénées-Orientales","Tarn","Tarn-et-Garonne"],
           "Pays de la Loire":["Loire-Atlantique","Maine-et-Loire","Mayenne","Sarthe","Vendée"],
           "Provence-Alpes-Côte d'Azur":["Alpes-de-Haute-Provence","Alpes-Maritimes","Bouches-du-Rhône","Hautes-Alpes","Var","Vaucluse"]}

In [4]:
#Recuperation de chaque sheet dans un dico :

sheets=["1-1-2010","1-1-2011","1-1-2012","1-1-2013","1-1-2014","1-1-2015","1-1-2016", "1-1-2017","1-1-2018","1-1-2019"]
sheets_av_2017 =["1-1-2010","1-1-2011","1-1-2012","1-1-2013","1-1-2014","1-1-2015","1-1-2016"]

excel_cam=dict()

for year in sheets:
    if year in sheets_av_2017:
         excel_cam[year] = pd.read_excel("https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2019-07/2019-parc-vehicules-routiers-5pr3.xls", header = None, names=col_names_temp_av_2017, sheet_name=str(year))
    else:
        excel_cam[year] = pd.read_excel("https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2019-07/2019-parc-vehicules-routiers-5pr3.xls", header = None, names=col_names_temp_ap_2017, sheet_name=str(year))

In [4]:
for year in excel_cam:
    print(year, excel_cam[year].columns)

1-1-2010 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2011 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2012 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2013 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2014 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2015 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2016 Index(['Départements', 'Gazole', 'Essence', 'Essence-GPL', 'Electricité',
       'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2017 Index(['Régions', 'Départements', 'Gazole', 'Essence', 'Essence-GPL',
       'Electricité', 'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2018 Index(['Régions', 'Départements', 'Gazole', 'Essence', 'Essence-GPL',
       'Electricité', 'Autres et non  déterminées', 'Total'],
      dtype='object')
1-1-2019 Index(['Régions', 'Départements', 'Gazole', 'Essence', 'Essence-GPL',
       'Electricité', 'Autres et non  déterminées', 'Total'],
      dtype='object')

In [5]:
for year in excel_cam :
    print(year, excel_cam[year].shape)

1-1-2010 (124, 7)
1-1-2011 (124, 7)
1-1-2012 (124, 7)
1-1-2013 (124, 7)
1-1-2014 (124, 7)
1-1-2015 (124, 7)
1-1-2016 (124, 7)
1-1-2017 (127, 8)
1-1-2018 (127, 8)
1-1-2019 (128, 8)

In [11]:
def get_reg(row):
    for reg, dep_list in regions.items():
         if str(row['Départements']) in dep_list:
             return reg
        
excel_cam_transfo = dict()

for year in excel_cam :
    sh = excel_cam[year]
    print(year, sh.shape)
    
    #Supp des 4 premières lignes
    sh=sh[4:]
    print("Sup 4 prem", sh.shape)
    
    if year=="1-1-2019" :
        #Supp 3 dernières lignes
        sh=sh[:-3]
        print("Sup 3 der", sh.shape)
    else : 
        #Supp 2 dernières lignes
        sh=sh[:-2]
        print("Sup 2 der", sh.shape)
    
   
    if year not in sheets_av_2017:
        #Supp des lignes Total :
        sh = sh[sh['Départements'] != "Total :"]
        print("Sup Tot", sh.shape)

        #Suppression des lignes vides (lignes de séparation entre les regions)
        sh=sh.dropna(axis=0,how='all')
        print("Sup vides", sh.shape)
    
    #Recurération des regions 
    sh['Régions']=sh.apply(lambda row: get_reg(row), axis=1)
    
    if year in sheets_av_2017:
        #Suppression des lignes 
        sh=sh[sh['Régions'].notna()]
        print("Sup Tot", sh.shape)
        
    
    #Rajout d'une colonne année :
    sh["Année"]=str(year[4:])
    
    #Rérrangement colonnes dans le bon ordre
    sh=sh[col_names]
    print("Réarrang col", sh.shape, "\n")

    
    #Sorting alphabetically
    sh=sh.sort_values('Départements')
    sh=sh.sort_values('Régions')
    
    #Reset de l'index
    sh=sh.reset_index(drop=True)
    
    excel_cam_transfo[year]=sh
    
    #Concatenation des années
    concat_excel_cam_transfo=pd.concat(excel_cam_transfo)
    #Ecriture du fichier
    concat_excel_cam_transfo.to_csv("camion_camionnette_par_dep.csv",sep=';', index = False)
    
    #Version 2 :
    concat_excel_cam_transfo_v2=pd.melt(concat_excel_cam_transfo , id_vars=['Année', 'Régions', 'Départements'], value_vars=['Gazole', 'Essence', 'Essence-GPL','Electricité', 'Autres et non  déterminées'], value_name="Nb_véhicules", var_name="Fuel")
    #Ecriture du fichier
    concat_excel_cam_transfo_v2.to_csv("camion_camionnette_par_dep_v2.csv",sep=';', index = False)

1-1-2010 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2011 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2012 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2013 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2014 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2015 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2016 (124, 7)
Sup 4 prem (120, 7)
Sup 2 der (118, 7)
Sup Tot (96, 8)
Réarrang col (96, 9)

1-1-2017 (127, 8)
Sup 4 prem (123, 8)
Sup 2 der (121, 8)
Sup Tot (108, 8)
Sup vides (96, 8)
Réarrang col (96, 9)

1-1-2018 (127, 8)
Sup 4 prem (123, 8)
Sup 2 der (121, 8)
Sup Tot (108, 8)
Sup vides (96, 8)
Réarrang col (96, 9)

1-1-2019 (128, 8)
Sup 4 prem (124, 8)
Sup 3 der (121, 8)
Sup Tot (108, 8)
Sup vides (96, 8)
Réarrang col (96, 9)

In [7]:
concat_excel_cam_transfo.columns

Index(['Année', 'Régions', 'Départements', 'Gazole', 'Essence', 'Essence-GPL',
       'Electricité', 'Autres et non  déterminées', 'Total'],
      dtype='object')

In [10]:
pd.melt(concat_excel_cam_transfo , id_vars=['Année', 'Régions', 'Départements'], value_vars=['Gazole', 'Essence', 'Essence-GPL','Electricité', 'Autres et non  déterminées'], value_name="Nb_véhicules", var_name="Fuel")

,Année,Régions,Départements,Fuel,Nb_véhicules
0,2010,Auvergne-Rhône-Alpes,Ain,Gazole,60174
1,2010,Auvergne-Rhône-Alpes,Allier,Gazole,36648
2,2010,Auvergne-Rhône-Alpes,Haute-Loire,Gazole,27115
3,2010,Auvergne-Rhône-Alpes,Savoie,Gazole,51414
4,2010,Auvergne-Rhône-Alpes,Rhône,Gazole,190493
...,...,...,...,...,...
4795,2019,Île-de-France,Seine-Saint-Denis,Autres et non déterminées,449
4796,2019,Île-de-France,Paris,Autres et non déterminées,470
4797,2019,Île-de-France,Hauts-de-Seine,Autres et non déterminées,503
4798,2019,Île-de-France,Val-de-Marne,Autres et non déterminées,303
4799,2019,Île-de-France,Yvelines,Autres et non déterminées,213

In [7]:
for year in excel_cam_transfo :
    print(year, excel_cam_transfo[year].shape)

1-1-2010 (96, 9)
1-1-2011 (96, 9)
1-1-2012 (96, 9)
1-1-2013 (96, 9)
1-1-2014 (96, 9)
1-1-2015 (96, 9)
1-1-2016 (96, 9)
1-1-2017 (96, 9)
1-1-2018 (96, 9)
1-1-2019 (96, 9)

In [8]:
excel_cam_transfo['1-1-2010']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2010,Auvergne-Rhône-Alpes,Ain,60174,3320,145,25,147,63811
1,2010,Auvergne-Rhône-Alpes,Allier,36648,1791,94,10,78,38621
2,2010,Auvergne-Rhône-Alpes,Haute-Loire,27115,1045,55,9,123,28347
3,2010,Auvergne-Rhône-Alpes,Savoie,51414,2692,135,29,283,54553
4,2010,Auvergne-Rhône-Alpes,Rhône,190493,8450,656,185,369,200153
...,...,...,...,...,...,...,...,...,...
91,2010,Île-de-France,Seine-Saint-Denis,137892,6883,700,221,221,145917
92,2010,Île-de-France,Paris,128060,10110,1613,360,451,140594
93,2010,Île-de-France,Hauts-de-Seine,140098,9579,383,380,378,150818
94,2010,Île-de-France,Val-de-Marne,90574,5735,443,160,123,97035
95,2010,Île-de-France,Yvelines,106882,6029,378,87,188,113564

In [9]:
excel_cam_transfo['1-1-2011']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2011,Auvergne-Rhône-Alpes,Ain,60449,2724,147,23,144,63487
1,2011,Auvergne-Rhône-Alpes,Allier,36377,1391,80,10,66,37924
2,2011,Auvergne-Rhône-Alpes,Haute-Loire,27025,851,55,8,92,28031
3,2011,Auvergne-Rhône-Alpes,Savoie,51750,2222,138,29,272,54411
4,2011,Auvergne-Rhône-Alpes,Rhône,191812,6895,607,186,385,199885
...,...,...,...,...,...,...,...,...,...
91,2011,Île-de-France,Seine-Saint-Denis,139588,5590,695,196,227,146296
92,2011,Île-de-France,Paris,126298,8339,1476,333,352,136798
93,2011,Île-de-France,Hauts-de-Seine,132019,6725,380,362,336,139822
94,2011,Île-de-France,Val-de-Marne,91109,4706,448,143,165,96571
95,2011,Île-de-France,Yvelines,106294,4807,371,86,201,111759

In [10]:
excel_cam_transfo['1-1-2012']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2012,Auvergne-Rhône-Alpes,Ain,61020,2322,130,28,129,63629
1,2012,Auvergne-Rhône-Alpes,Allier,36418,1172,77,12,60,37739
2,2012,Auvergne-Rhône-Alpes,Haute-Loire,27039,728,50,8,79,27904
3,2012,Auvergne-Rhône-Alpes,Savoie,52657,1914,129,34,233,54967
4,2012,Auvergne-Rhône-Alpes,Rhône,193491,5880,581,201,392,200545
...,...,...,...,...,...,...,...,...,...
91,2012,Île-de-France,Seine-Saint-Denis,141950,4743,713,190,215,147811
92,2012,Île-de-France,Paris,126946,6913,1403,306,296,135864
93,2012,Île-de-France,Hauts-de-Seine,125430,4719,382,511,317,131359
94,2012,Île-de-France,Val-de-Marne,91340,3893,459,152,183,96027
95,2012,Île-de-France,Yvelines,107520,4093,370,110,185,112278

In [11]:
excel_cam_transfo['1-1-2013']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2013,Auvergne-Rhône-Alpes,Ain,61973,2070,124,37,120,64324
1,2013,Auvergne-Rhône-Alpes,Allier,36246,1012,69,11,55,37393
2,2013,Auvergne-Rhône-Alpes,Haute-Loire,27304,626,43,10,76,28059
3,2013,Auvergne-Rhône-Alpes,Savoie,53614,1687,126,49,207,55683
4,2013,Auvergne-Rhône-Alpes,Rhône,195145,5173,558,317,385,201578
...,...,...,...,...,...,...,...,...,...
91,2013,Île-de-France,Seine-Saint-Denis,145371,4137,695,221,200,150624
92,2013,Île-de-France,Paris,126826,5943,1274,380,322,134745
93,2013,Île-de-France,Hauts-de-Seine,122362,3735,372,611,284,127364
94,2013,Île-de-France,Val-de-Marne,91831,3331,459,196,176,95993
95,2013,Île-de-France,Yvelines,107672,3490,360,192,176,111890

In [12]:
excel_cam_transfo['1-1-2014']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2014,Auvergne-Rhône-Alpes,Ain,63191,1893,110,72,103,65369
1,2014,Auvergne-Rhône-Alpes,Allier,36538,925,70,15,42,37590
2,2014,Auvergne-Rhône-Alpes,Haute-Loire,27662,580,38,13,74,28367
3,2014,Auvergne-Rhône-Alpes,Savoie,54852,1600,133,58,183,56826
4,2014,Auvergne-Rhône-Alpes,Rhône,199764,4799,555,476,414,206008
...,...,...,...,...,...,...,...,...,...
91,2014,Île-de-France,Seine-Saint-Denis,149962,3804,712,337,210,155025
92,2014,Île-de-France,Paris,129995,5333,1099,505,308,137240
93,2014,Île-de-France,Hauts-de-Seine,123043,3296,363,688,279,127669
94,2014,Île-de-France,Val-de-Marne,92969,2994,448,255,167,96833
95,2014,Île-de-France,Yvelines,109105,3209,355,281,168,113118

In [13]:
excel_cam_transfo['1-1-2015']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2015,Auvergne-Rhône-Alpes,Ain,63388,1763,110,107,97,65465
1,2015,Auvergne-Rhône-Alpes,Allier,36709,824,72,28,36,37669
2,2015,Auvergne-Rhône-Alpes,Haute-Loire,27657,557,37,15,73,28339
3,2015,Auvergne-Rhône-Alpes,Savoie,55732,1491,153,65,170,57611
4,2015,Auvergne-Rhône-Alpes,Rhône,201610,4402,552,650,422,207636
...,...,...,...,...,...,...,...,...,...
91,2015,Île-de-France,Seine-Saint-Denis,153075,3448,726,421,235,157905
92,2015,Île-de-France,Paris,128578,4783,1022,836,306,135525
93,2015,Île-de-France,Hauts-de-Seine,124422,2980,352,824,306,128884
94,2015,Île-de-France,Val-de-Marne,94591,2761,454,338,153,98297
95,2015,Île-de-France,Yvelines,108706,2923,349,451,166,112595

In [14]:
excel_cam_transfo['1-1-2016']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2016,Auvergne-Rhône-Alpes,Ain,63413,1632,117,158,94,65414
1,2016,Auvergne-Rhône-Alpes,Allier,36513,754,71,38,37,37413
2,2016,Auvergne-Rhône-Alpes,Haute-Loire,27553,485,34,22,69,28163
3,2016,Auvergne-Rhône-Alpes,Savoie,55845,1412,150,83,154,57644
4,2016,Auvergne-Rhône-Alpes,Rhône,201115,4015,528,886,448,206992
...,...,...,...,...,...,...,...,...,...
91,2016,Île-de-France,Seine-Saint-Denis,156885,3141,721,473,246,161466
92,2016,Île-de-France,Paris,123766,4412,1008,1031,313,130530
93,2016,Île-de-France,Hauts-de-Seine,124521,2720,354,1112,308,129015
94,2016,Île-de-France,Val-de-Marne,94969,2611,446,417,171,98614
95,2016,Île-de-France,Yvelines,108092,2671,351,590,177,111881

In [15]:
excel_cam_transfo['1-1-2017']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2017,Auvergne-Rhône-Alpes,Ain,63111,1414,126,181,118,64950
1,2017,Auvergne-Rhône-Alpes,Allier,36144,619,66,53,33,36915
2,2017,Auvergne-Rhône-Alpes,Haute-Loire,27434,410,31,32,63,27970
3,2017,Auvergne-Rhône-Alpes,Savoie,55205,1304,144,107,130,56890
4,2017,Auvergne-Rhône-Alpes,Rhône,197474,3540,498,1019,483,203014
...,...,...,...,...,...,...,...,...,...
91,2017,Île-de-France,Seine-Saint-Denis,159564,2903,703,489,271,163930
92,2017,Île-de-France,Paris,119923,3956,975,1304,353,126511
93,2017,Île-de-France,Hauts-de-Seine,121988,2500,340,1363,322,126513
94,2017,Île-de-France,Val-de-Marne,94643,2300,431,468,202,98044
95,2017,Île-de-France,Yvelines,105409,2383,351,754,192,109089

In [16]:
excel_cam_transfo['1-1-2018']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2018,Auvergne-Rhône-Alpes,Ain,63232,1353,119,203,129,65036
1,2018,Auvergne-Rhône-Alpes,Allier,36248,548,67,70,31,36964
2,2018,Auvergne-Rhône-Alpes,Haute-Loire,27490,370,31,31,60,27982
3,2018,Auvergne-Rhône-Alpes,Savoie,55292,1231,135,137,120,56915
4,2018,Auvergne-Rhône-Alpes,Rhône,197198,3214,462,1103,606,202583
...,...,...,...,...,...,...,...,...,...
91,2018,Île-de-France,Seine-Saint-Denis,164598,2669,673,641,320,168901
92,2018,Île-de-France,Paris,116672,3759,901,1624,409,123365
93,2018,Île-de-France,Hauts-de-Seine,122602,2462,321,1659,375,127419
94,2018,Île-de-France,Val-de-Marne,92544,2126,418,564,267,95919
95,2018,Île-de-France,Yvelines,102596,2170,318,729,210,106023

In [17]:
excel_cam_transfo['1-1-2019']

,Année,Régions,Départements,Gazole,Essence,Essence-GPL,Electricité,Autres et non déterminées,Total
0,2019,Auvergne-Rhône-Alpes,Ain,63404,1245,103,218,126,65096
1,2019,Auvergne-Rhône-Alpes,Allier,35998,514,59,100,28,36699
2,2019,Auvergne-Rhône-Alpes,Haute-Loire,27352,351,30,46,61,27840
3,2019,Auvergne-Rhône-Alpes,Savoie,55651,1145,111,171,112,57190
4,2019,Auvergne-Rhône-Alpes,Rhône,195054,2996,417,1295,669,200431
...,...,...,...,...,...,...,...,...,...
91,2019,Île-de-France,Seine-Saint-Denis,170267,2467,551,773,449,174507
92,2019,Île-de-France,Paris,114019,3606,749,2078,470,120922
93,2019,Île-de-France,Hauts-de-Seine,119295,2290,275,2117,503,124480
94,2019,Île-de-France,Val-de-Marne,91367,2032,354,726,303,94782
95,2019,Île-de-France,Yvelines,100387,2068,264,765,213,103697

In [18]:
### Precedent test pour voir calculer le nb de valeur nulles dans chaques colonnes:
concat_excel_cam_transfo.isnull().sum()

Année                         0
Régions                       0
Départements                  0
Gazole                        0
Essence                       0
Essence-GPL                   0
Electricité                   0
Autres et non  déterminées    0
Total                         0
dtype: int64