In [1]:
#Imprort des librairies nécessaires
import pandas as pd
import numpy as np

f=dict()
f[1] = pd.read_csv("voitures_particulieres_av_2010_v2.csv", sep=";",encoding="utf-8")
f[1]['Type de véhicule']="Voitures particulières"

f[2] = pd.read_csv("voitures_particulieres_ap_2010_v2.csv", sep=";",encoding="utf-8")
f[2]['Type de véhicule']="Voitures particulières"

f[3] = pd.read_csv("vehicules_utilitaires_av_2010_v2.csv", sep=";",encoding="utf-8")
f[3]['Type de véhicule']="Véhicules utilitaires"

f[4] = pd.read_csv("vehicules_utilitaires_ap_2010_v2.csv", sep=";",encoding="utf-8")
f[4]['Type de véhicule']="Véhicules utilitaires"

f[5] = pd.read_csv("poids_lourds_av_2010_v2.csv", sep=";",encoding="utf-8")
f[5]['Type de véhicule']="Poids lourds"

f[6] = pd.read_csv("poids_lourds_ap_2010_v2.csv", sep=";",encoding="utf-8")
f[6]['Type de véhicule']= "Poids lourds"

f[7] = pd.read_csv("ensemble_des_vehicules_av_2010_v2.csv", sep=";",encoding="utf-8")
f[7]['Type de véhicule']= "Ensemble des véhicules"

f[8] = pd.read_csv("ensemble_des_vehicules_ap_2010_v2.csv", sep=";",encoding="utf-8")
f[8]['Type de véhicule']="Ensemble des véhicules"

f[9] = pd.read_csv("deux_roues_av_2010_v2.csv", sep=";",encoding="utf-8")
f[9]['Type de véhicule']="Deux roues"

f[10] = pd.read_csv("deux_roues_ap_2010_v2.csv", sep=";",encoding="utf-8")
f[10]['Type de véhicule']="Deux roues"

In [2]:
f[10]

     Année Polluant         Fuel  Emissions Type de véhicule
0     2010      NOx      Essence        4.0       Deux roues
1     2011      NOx      Essence        3.9       Deux roues
2     2012      NOx      Essence        3.8       Deux roues
3     2013      NOx      Essence        3.7       Deux roues
4     2014      NOx      Essence        3.7       Deux roues
..     ...      ...          ...        ...              ...
481   2014  benzène  Electriques        0.0       Deux roues
482   2015  benzène  Electriques        0.0       Deux roues
483   2016  benzène  Electriques        0.0       Deux roues
484   2017  benzène  Electriques        0.0       Deux roues
485   2018  benzène  Electriques        0.0       Deux roues

[486 rows x 5 columns]

In [3]:
f_concat=pd.concat(f)

In [4]:
f_concat

        Année Polluant         Fuel  Emissions        Type de véhicule
1  0     1990      NOx       Diesel       59.0  Voitures particulières
   1     1991      NOx       Diesel       65.0  Voitures particulières
   2     1992      NOx       Diesel       71.0  Voitures particulières
   3     1993      NOx       Diesel       77.0  Voitures particulières
   4     1994      NOx       Diesel       85.0  Voitures particulières
...       ...      ...          ...        ...                     ...
10 481   2014  benzène  Electriques        0.0              Deux roues
   482   2015  benzène  Electriques        0.0              Deux roues
   483   2016  benzène  Electriques        0.0              Deux roues
   484   2017  benzène  Electriques        0.0              Deux roues
   485   2018  benzène  Electriques        0.0              Deux roues

[9396 rows x 5 columns]

In [5]:
f_concat.to_csv("Emissions_polluantes_concat.csv",sep=';', index = False)