In [10]:
#Imprort des librairies nécessaires
import pandas as pd
import numpy as np

ecocars = pd.read_csv("final_ventes_ve_totales_alternative.csv", sep=",",encoding="utf-8")

ecocars_v2=pd.melt(ecocars , id_vars=['date'], value_vars= ecocars.columns[1:-2], value_name="Vente", var_name="Modèle")

In [11]:
ecocars_v2

            date       Modèle   Vente
0     2013-01-01  Renault Zoe    70.0
1     2013-02-01  Renault Zoe   440.0
2     2013-03-01  Renault Zoe  1089.0
3     2013-04-01  Renault Zoe   748.0
4     2013-05-01  Renault Zoe   483.0
...          ...          ...     ...
5275  2020-08-01       Autres     0.0
5276  2020-09-01       Autres     0.0
5277  2020-10-01       Autres     0.0
5278  2020-11-01       Autres     0.0
5279  2020-12-01       Autres     0.0

[5280 rows x 3 columns]

In [12]:
ecocars_v2.to_csv("final_ventes_ve_totales_alternative_v2.csv",sep=';', index = False)

In [9]:
ecocars.columns

Index(['date', 'Renault Zoe', 'Tesla model 3', 'Nissan Leaf',
       'Bolloré Bluecar', 'Smart Fortwo', 'Mia', 'Peugeot iOn',
       'Citroen C-Zero', 'BMW i3', 'Volkswagen E-Up', 'Mitsubishi i-MiEV',
       'Renault Fluence ZE', 'Tesla Model S', 'Ford Focus', 'Neoma',
       'Audi TT Roadster', 'Volkswagen E-Golf', 'Kia Soul EV',
       'Mercedes Classe B', 'BYD E6', 'Tesla Model X', 'Citroen E-Mehari',
       'Hyundai Ioniq electrique', 'Nissan e-NV200 Evalia',
       'Peugeot Partner tepee Electric', 'Smart Forfour',
       'Citroen e-Berlingo Multispace', 'Bee Bee XS', 'Jaguar i-Pace',
       'Hyundai Kona electrique', 'Kia e-Niro', 'Audi E-Tron', 'DS3 e-tense',
       'Mercedes Benz EQC', 'Peugeot e208', 'Peugeot e2008', 'Mini Electric',
       'Opel Corsa-E', 'Volkswagen ID.3', 'Kia E-soul', 'Renault Twingo ZE',
       'MG ZS EV', 'Skoda Citigo', 'Mazda MX-30', 'Porsche Taycan', 'Seat MII',
       'Honda E', 'Citroen E-C4', 'Peugeot Expert', 'Citroen E-Jumpy',
       'Mercedes EQV', 'BMW I3 Rex', 'AIWAYS U5', 'Mercedes E-Vito', 'Autres',
       'year', 'month'],
      dtype='object')